<header class="masthead bg-primary text-white text-center" style="padding-top: 18rem; padding-bottom: 12rem;">
    <div class="container d-flex align-items-center flex-column">
        <a>
            <button id="play-btn" type="button" class="btn btn-outline-dark" style="font-size: 3rem;">PLAY!</button>
        </a>
        
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
            <div>
                <button id="friend-btn" type="checkbox" class="btn btn-outline-success home-button home-button">친구</button>
                <button id="family-btn" type="checkbox" class="btn btn-outline-warning home-button home-button">가족</button>
                <button id="lover-btn" type="checkbox" class="btn btn-outline-info home-button home-button">연인</button>
            </div>

            <div style="padding: 2rem;">
                <button id="19-btn" type="button" class="btn btn-outline-danger home-button" style="color: aliceblue;">19 OFF</button>
            </div>
    </div>
</header>
<script src="/js/script_home.js"></script>